<div class="topside" style="height: 60px;padding: 0% 10%">
  <div flipkartGap>
    <img style="margin-top: 10px;margin-right: 40px;"
      src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/flipkart-plus_8d85f4.png"
      height="20px">
    <div style="display: flex; font-size:11px;margin-top: 0px;gap: 3px;">
      <p>Explore</p>
      <p style="color: #ffe500;">Plus</p>
      <img style="margin-top: 2px;"
        src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/plus_aef861.png" height="10px">
    </div>
  </div>
  <div style="display: flex;">
    <div style="background-color: white;display: flex;align-items: center;">
      <input style="padding-left: 10px;outline: none;" class="serchinput" type="text"
        placeholder="Search for products, brands and more">
      <img style="padding: 0px 10px;" src="https://cdn-icons-png.flaticon.com/512/54/54481.png" height="20px" alt="">
    </div>
    <button style="height: 40px;width: 80px;border-radius: 5px;font-size: 17px;">Login</button>
  </div>
  <div id="Becomeaseller">
    <div>
      <p>Become a seller</p>
    </div>
    <div id="More">
      <div style="display: flex;gap: 5px;align-items: center;">
        <p>More</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          height="7px" alt="">
      </div>
    </div>
    <div id="Cart">
      <p>Cart</p>
    </div>
  </div>
</div>

<div class="options" style="background-color: white;font-size: 14px;color:#212121;font-family: arial;font-weight: 540;">
  <div>
    <img class="images" src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100"
      height="60px">
    <p class="bottom-text">Top Offers</p>
  </div>
  <div>
    <img class="images" src="https://rukminim1.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100"
      height="60px">
    <p class="bottom-text">Groccery</p>
  </div>
  <div>
    <img class="images" src="https://rukminim1.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100"
      height="60px">
    <p class="bottom-text">Mobiles</p>
  </div>
  <div>
    <img class="images" src="https://rukminim1.flixcart.com/flap/128/128/image/c12afc017e6f24cb.png?q=100"
      height="60px">
    <p class="bottom-text">Fashion</p>
  </div>
  <div>
    <img class="images" src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100"
      height="60px">
    <p class="bottom-text">Eletronics</p>
  </div>
  <div>
    <img class="images" src="https://rukminim1.flixcart.com/flap/128/128/image/ab7e2b022a4587dd.jpg?q=100"
      height="50px">
    <p style="margin-bottom: -10px;" class="bottom-text">Home</p>
  </div>
  <div>
    <img class="images" src="https://rukminim1.flixcart.com/flap/128/128/image/0ff199d1bd27eb98.png?q=100"
      height="60px">
    <p class="bottom-text">Appliances</p>
  </div>
  <div>
    <img class="images" src="https://rukminim1.flixcart.com/flap/128/128/image/71050627a56b4693.png?q=100"
      height="60px">
    <p class="bottom-text">Travel</p>
  </div>
  <div>
    <img style="margin-left: 20px;" class="images"
      src="https://rukminim1.flixcart.com/flap/128/128/image/dff3f7adcf3a90c6.png?q=100" height="60px">
    <p class="bottom-text">Beauty, Toys & More</p>
  </div>
</div>

<!-- <img src="https://rukminim1.flixcart.com/fk-p-flap/1000/170/image/b4b8b76272e4f0d5.jpeg?q=20" width="100%" alt=""> -->

<div style="display: relative;justify-content: center;align-items: center;">
  <div style="width: 100%;">
    <img style="width: 100%;position: absolute;" src="https://rukminim1.flixcart.com/fk-p-flap/1000/170/image/b4b8b76272e4f0d5.jpeg?q=20" alt="">
    <img style="width: 100%;position: absolute;" src="https://rukminim1.flixcart.com/fk-p-flap/1000/170/image/b4b8b76272e4f0d5.jpeg?q=20" alt="">
    <img style="width: 100%;position: absolute;" src="https://rukminim1.flixcart.com/fk-p-flap/1000/170/image/b4b8b76272e4f0d5.jpeg?q=20" alt="">
    <img style="width: 100%;position: absolute;" src="https://rukminim1.flixcart.com/fk-p-flap/1000/170/image/b4b8b76272e4f0d5.jpeg?q=20" alt="">
  </div>
  <div style="display: flex;justify-content: space-between;align-items: center;padding: 0px 20px;">
    <button style="width: 50px;height: 50px;border-radius: 50%;position: relative;color: black;font-size: 20px;top: 100px;margin: 0px;"><</button>
    <button style="width: 50px;height: 50px;border-radius: 50%;position: relative;color: black;font-size: 20px;top: 100px;">></button>
  </div>
</div>

<div>
  <div>
    <img src="" alt="">
  </div>
</div>